[Unit]
Description=SlicedHeart Frontend
After=slicedheart-pod.service slicedheart-backend.service
Requires=slicedheart-backend.service

[Container]
ContainerName=slicedheart-frontend
Image=localhost/slicedheart-frontend
Pod=slicedheart.pod

[Service]
Restart=on-failure
RestartSec=5s
StartLimitIntervalSec=60s
StartLimitBurst=5

[Install]
WantedBy=default.target